<!-- nav -->
<nav class="navigation-contents">
  <!-- user -->
  <div class="navigation navigation-user">
    <p class="title">{{memberService.user.logined ? memberService.user.email.split('@')[0] : "Member"}}</p>
    <ul (click)="navigationService.navToggle()">
      <!-- not login -->
      <li *ngIf="!memberService.user.logined">
        <a (click)="openDialogLogin()">
          <i class="fa fa-sign-in-alt icons" aria-label="login icon"></i>
          Login
        </a>
      </li>
      <li *ngIf="!memberService.user.logined">
        <a (click)="openDialogSignup()">
          <i class="fas fa-user-plus icons" aria-label="signup icon"></i>
          SignUp
        </a>
      </li>
      <!-- login -->
      <li *ngIf="memberService.user.logined">
        <a [routerLink]="['/member', 'mypage']" [routerLinkActive]="['active']">
          <i class="fa fa-id-card icons" aria-label="profile icon"></i>
          Profile
        </a>
      </li>
      <li *ngIf="memberService.user.logined">
        <a [routerLink]="['/member', 'message']" [routerLinkActive]="['active']">
          <i class="far fa-comments icons" aria-label="message icon"></i>
          Message <span class="count" *ngIf="messageCount">({{messageCount}})</span>
        </a>
      </li>
      <li *ngIf="memberService.user.logined">
        <a (click)="onLogout()">
          <i class="fa fa-sign-out-alt icons" aria-label="logout icon"></i>
          Logout
        </a>
      </li>
    </ul>
  </div>
  <!-- menu -->
  <div class="navigation">
    <p class="title">Menu</p>
    <ul (click)="navigationService.navToggle()">
      <li>
        <a [routerLink]="['/home']" [routerLinkActive]="['active']">
          <i class="fa fa-home icons" aria-label="home icon"></i>
          Home
        </a>
      </li>
      <li>
        <a [routerLink]="['/project']" [routerLinkActive]="['active']">
          <i class="fa fa-th icons" aria-label="project icon"></i>
          Projects
        </a>
      </li>
    </ul>
  </div>
  <!-- Admin -->
  <div class="navigation navigation-admin">
    <p class="title">Admin</p>
    <ul (click)="navigationService.navToggle()">
      <li>
        <a [routerLink]="['/admin', 'visit']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
          <i class="fas fa-eye icons" aria-label="admin visit icon"></i>
          Visit
        </a>
      </li>
      <li>
        <a [routerLink]="['/admin', 'project']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
          <i class="fas fa-window-restore icons" aria-label="admin projects icon"></i>
          Projects
        </a>
      </li>
      <li>
        <a [routerLink]="['/admin', 'member']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
          <i class="fas fa-users icons" aria-label="admin members icon"></i>
          Members
        </a>
      </li>
      <li>
        <a [routerLink]="['/admin', 'setting']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
          <i class="fa fa-cog icons" aria-label="admin setting icon"></i>
          Setting
        </a>
      </li>
    </ul>
  </div>
  <!-- Social -->
  <div class="navigation navigation-sns">
    <p class="title">Social</p>
    <ul (click)="navigationService.navToggle()">
      <li>
        <a href="https://drive.google.com/drive/folders/1vyOow3bxPHOzDeisljdQf2ATueN6KtXS" target="_blank">
          <i class="fa fa-cloud icons" aria-label="google cloud icon"></i>
          Google Cloud
        </a>
      </li>
      <li>
        <a href="https://github.com/Toy-project" target="_blank">
          <i class="fab fa-github fa-2x icons" aria-label="github icon"></i>
          Github
        </a>
      </li>
    </ul>
  </div>
</nav>
