<!-- nav -->
<nav class="navigation-contents">
  <div class="navigation-inner">
    <!-- public -->
    <ul class="navigation">
      <li *ngFor="let nav of navPublicData; let ind = index;">
        <a [routerLink]="['/' + nav.path]" [routerLinkActive]="['active']">
          <i class="{{nav.icon}} icon" aria-label="icon"></i>
          {{nav.title}}
        </a>
      </li>
    </ul>
    <!-- admin -->
    <ul class="navigation" *ngIf="accessLevel > 1">
      <li *ngFor="let nav of navAdminData; let ind = index;">
        <a [routerLink]="['/admin', nav.path]" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
          <i class="{{nav.icon}} icon" aria-label="icon"></i>
          {{nav.title}}
        </a>
      </li>
    </ul>
  </div>
</nav>
