<!-- header -->
<header class="site-header">
  <div class="header-inner">
    <!-- title -->
    <h1 class="title">
      <a [routerLink]="['/home']">TOY-PROJECT</a>
    </h1>
    <!-- button -->
    <div class="button">
      <!-- search button -->
      <button type="button" class="btn">
        <i class="fas fa-search" aria-label="search icon"></i>
      </button>
      <!-- project button -->
      <button type="button" class="btn btn-project">
        <strong>REGISTER PROJECT</strong>
      </button>
    </div>
  </div>
</header>
