<section class="contents-container">
  <!-- contact form -->
  <article class="contact">
    <!-- intro -->
    <div class="contents contents-intro min-height">
      <i class="far fa-envelope icon"></i>
      <p class="text">
        TOY-PROJECT를 찾아주셔서 감사합니다.<br>
        서비스를 이용하시면서 궁금하거나 불편한 사항은 아래 메세지를 보내주세요.<br>
      </p>
    </div>
    <!-- message -->
    <div class="contents">
      <h4 class="contents-title">Send Message</h4>
      <!-- loading -->
      <app-loading [loading]="messageLoading"></app-loading>
      <!-- message form -->
      <form [formGroup]="messageForm" (ngSubmit)="onSendMessage(messageForm.value)" class="form">
        <mat-form-field floatLabel="always">
          <mat-select placeholder="Select Message Type" required formControlName="type">
            <mat-option>Select Message Type</mat-option>
            <mat-option value="qna">QnA</mat-option>
            <mat-option value="error">Error</mat-option>
            <mat-option value="etc">Etc</mat-option>
          </mat-select>
          <mat-error *ngIf="messageType.invalid">{{message.requiredMessage}}</mat-error>
        </mat-form-field>
        <mat-form-field floatLabel="always">
          <input matInput placeholder="Message Title" required formControlName="title">
          <mat-error *ngIf="messageTitle.invalid">{{message.requiredMessage}}</mat-error>
        </mat-form-field>
        <mat-form-field floatLabel="always">
          <textarea matInput #messageTextarea maxlength="1000" placeholder="Message Text" required formControlName="text"></textarea>
          <mat-error *ngIf="messageText.invalid">{{message.requiredMessage}}</mat-error>
          <mat-hint align="end">{{messageTextarea.value.length}} / 1000</mat-hint>
        </mat-form-field>
        <button type="submit" mat-raised-button class="btn-block">Send Message</button>
      </form>
    </div>
  </article>
</section>
