//
// Contents
//

.contents-header {
  position: relative;
  min-height: auto;
  padding-bottom: map-get($spacers, 4);
  text-align: center;

  .title {
    font-size: $font-size-lg;
    line-height: $line-height-base;
    color: gray('500');
  }
  
  .text {
    padding-top: map-get($spacers, 2);
    font-size: $font-size-base;
    line-height: $line-height-base;
    color: gray('600');

    > span {
      color: theme-color('primary');
    }
  }
}

.contents {
  position: relative;
  background-color: color('white');
  border: 1px solid gray('200');
  padding: map-get($spacers, 3);
  min-height: 150px;

  &.no-border {
    border: 0;
  }

  &.transparent {
    background-color: transparent !important;

    .loading {
      background-color: transparent;
    }
  }

  &:not(:first-of-type) {
    margin-top: map-get($spacers, 3);
  }

  .contents-title {
    font-size: $font-size-base;
    color: gray('700');
    padding-bottom: map-get($spacers, 3);
  }

  @include media-breakpoint-up('sm') {
    min-height: 300px;

    &.min-height {
      min-height: 150px;
    }
  }
}

.clearfix {
  @include clearfix();
}
