//
// Visual
//

.visual {
  position: relative;
  padding: 0;
  height: 400px;
  max-width: 100%;
  background: gray('200') url('https://firebasestorage.googleapis.com/v0/b/dashboard-b3839.appspot.com/o/default%2Fvisual.jpg?alt=media&token=cc1e4b84-15ef-4203-b868-275049a42756');
  background-position: center center;

  .visual-text {
    color: color('white');
    font-size: $font-size-base * 2.5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
