//
// Container
//

.site-container {
  min-height: 100%;
  margin-top: $font-size-base * 7;
}

.contents-container {
  position: relative;
  padding: map-get($spacers, 4) map-get($spacers, 3);
  max-width: map-get($grid-breakpoints, 'xl');
  margin: 0 auto;
  min-height: 400px;

  @include clearfix();
}
