//
// Footer
//

.site-footer {
  clear: both;
  padding: map-get($spacers, 3);
  background-color: color('white');
  text-align: center;

  .link {
    font-size: 0;

    > li {
      font-size: $font-size-sm;
      position: relative;
      display: inline-block;
      padding: map-get($spacers, 2);

      &:not(:first-child) {
        &::before {
          content: '';
          position: absolute;
          top: 50%;
          left: 0;
          border-radius: 50%;
          background-color: gray('600');
          width: $font-size-base * 0.2;
          height: $font-size-base * 0.2;
          transform: translate(-50%, -50%);
        }
      }
    }
  }

  .copyright {
    font-size: $font-size-sm;
    padding: map-get($spacers, 2) 0;
  }
}
