//
// Header
//

.site-header {
  position: relative;
  border-top: 3px solid theme-color('primary');
  
  .header-inner {
    color: color('white');
    background-color: theme-color('primary');
    max-width: map-get($grid-breakpoints, 'xl');
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .title {
    flex: auto;
    font-size: $font-size-base;
    padding: 0 map-get($spacers, 3);
  }

  .button {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .btn {
    color: color('white');
    height: 100%;
    padding: 0 map-get($spacers, 1);
    font-size: $font-size-base;

    &:hover {
      cursor: pointer;
    }

    &:focus {
      outline: 0;
    }
  }

  .btn-project {
    font-size: $font-size-sm;
    padding: map-get($spacers, 3);
  }
}
