<!-- password confirm form -->
<form [formGroup]="confirmForm" (ngSubmit)="onSubmit(confirmForm.value)" class="modal">
  <p class="modal-title"><strong>PASSWORD</strong></p>
  <!-- password -->
  <mat-form-field floatLabel="always">
    <input matInput placeholder="Password" required type="password" formControlName="password">
    <mat-error *ngIf="password.invalid">{{this.message.requiredPassword}}</mat-error>
  </mat-form-field>
  <!-- close button -->
  <button type="button" mat-icon-button class="btn-close" (click)="onClose()" disableRipple>
    <i class="fa fa-times icons" aria-label="modal close icon"></i>
  </button>
  <!-- submit button -->
  <button type="submit" mat-raised-button class="btn-block">CONFIRM</button>
</form>
