<section class="site-inner-contents">
  <!-- access loading -->
  <app-loading [loading]="memberService.access.loading" [message]="message.accessLoading" [fixed]="loadingFixed"></app-loading>
  <!-- access loading end -->
  <div *ngIf="!memberService.access.loading">
    <!-- failed access -->
    <app-access *ngIf="memberService.access.level < 3 ? true : false" [message]="message.failedAccess"></app-access>
    <!-- success access -->
    <div *ngIf="memberService.access.level < 3 ? false : true">
      <h2 class="site-title">Upload</h2>
      <!-- upload -->
      <mat-accordion>
        <mat-expansion-panel [expanded]="true">
          <!-- header -->
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h4>Project Upload</h4>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <!-- project create -->
          <app-project-create></app-project-create>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</section>
