<section class="contents-container">
  <!-- loading -->
  <div class="contents no-border transparent" *ngIf="!projectRender">
    <app-loading [loading]="!projectRender"></app-loading>
  </div>
  <!-- loading end -->
  <article class="contents no-border transparent project" *ngIf="projectRender">
    
    
    <!-- info -->
    <div class="project-info">
      <!-- button -->
      <div class="project-btn">
        <button type="button" disabled>
          <span class="icons"><i class="fa fa-eye" aira-label="view icon"></i></span>
          <span class="number">{{project.view}}</span>
        </button>
        <button type="button">
          <span class="icons"><i class="fa fa-share-alt" aira-label="share icon"></i></span>
          <span class="number">{{project.share}}</span>
        </button>
        <button type="button" (click)="updateProjectLike(key)">
          <span class="icons"><i class="fab fa-gratipay" aira-label="like icon"></i></span>
          <span class="number">{{project.like}}</span>
        </button>
      </div>
      <!-- title -->
      <h2 class="project-title">
        {{project.title}}
      </h2>
      <!-- sub title -->
      <p class="project-sub-title">
        {{project.subTitle}}
      </p>
      <!-- explain -->
      <div class="project-explain">
        {{project.explain}}
      </div>
      <!-- etc -->
      <div class="project-etc">
        <span class="lang" *ngFor="let lang of projectLang">{{lang}}</span>
        <span class="color" *ngFor="let color of projectColor" [style.backgroundColor]="color"></span>
      </div>
      <!-- type -->
      <p class="project-type">{{project.type}} made by {{project.email.split('@')[0]}}</p>
      <!-- date -->
      <p class="project-date">{{project.startDate | date: "yyyy-MM-dd"}} ~ {{project.endDate | date: "yyyy-MM-dd"}}</p>
      <!-- link -->
      <div class="project-link">
        <ul>
          <li>
            <a href="{{project.git}}" target="_blank" class="link">
              <i class="fab fa-github" aria-label="github icon"></i>
            </a>
          </li>
          <li>
            <a href="{{project.url}}" target="_blank" class="link" *ngIf="project.url">
              <i class="fas fa-link" aria-label="link icon"></i>
            </a>
          </li>
          <li *ngIf="memberService.user.email === project.email">
            <button class="link link-control" *ngIf="project.url" (click)="deleteProject()">
              <i class="fas fa-trash-alt" aria-label="delete icon"></i>
            </button>
          </li>
          <li *ngIf="memberService.user.email === project.email">
            <a href="{{project.url}}" target="_blank" class="link link-control" *ngIf="project.url">
              <i class="far fa-edit" aria-label="modify icon"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- photo -->
    <div class="project-photo" *ngIf="project.photo">
      <div class="image" *ngFor="let photo of project.photo; let i = index;">
        <img src="{{photo}}" alt="photo-{{i}}">
      </div>
    </div>
  </article>
</section>