<!-- visual -->
<section class="contents-container visual">
  <div class="visual-text">
    <div class="visual-text-inner">
      <p class="text">Hello</p>
      <ul class="list-text">
        <li>World!</li>
        <li>Users!</li>
        <li>Everybody!</li>
        <li>Toyproject!</li>
      </ul>
    </div>
  </div>
  <div class="visual-arrow">
    <span class="chevron"></span>
    <span class="chevron"></span>
    <span class="chevron"></span>
  </div>
</section>
<!-- contents -->
<section class="contents-container">
  <!-- project -->
  <h2 class="contents-title text-center">Project</h2>
</section>
