<!-- footer -->
<footer class="site-footer">
  <div class="inner">
    <!-- copyright -->
    <p class="copyright">&copy; 2018. TOY-PROJECT.</p>
    <!-- sns -->
    <ul class="sns">
      <li>
        <a href="https://drive.google.com/drive/folders/1vyOow3bxPHOzDeisljdQf2ATueN6KtXS" target="_blank">
          <i class="fa fa-cloud icons" aria-label="google cloud icon"></i>
        </a>
      </li>
      <li>
        <a href="https://github.com/Toy-project" target="_blank">
          <i class="fab fa-github icons" aria-label="github icon"></i>
        </a>
      </li>
    </ul>
  </div>
</footer>
